@import "./utils/-variables.scss";
@import "./utils/-mixin.scss";
@import "./base/-fonts.scss";
@import "./layout/-header.scss";
@import "./layout/-footer.scss";
@import "./components/-button.scss";

* {
  box-sizing: border-box;
}

ul,
li,
a,
a:visited {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.restaurants {
  min-width: 100%;

  &--title {
    padding-left: 5%;
  }
}
.restaurantsContainersCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.restaurantsContainersCards a {
  width: 90%;
}
.restaurants__cards {
  @include shadow(grey);
  border-radius: 10px;
  max-height: 30%;
  display: flex;
  flex-direction: column;

  > img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  &--content {
  }
}

.favorite {
  align-self: center;
}
