// Section MainHeading
.mainHeading {
  width: 100%;
  text-align: center;

  &__localisation {
    padding: 15px 0;
    width: 100%;
    background-color: #dddddd;

    > i {
      margin-right: 10px;
    }
  }

  &__content {
    padding: 0 5%;
  }

  &__button {
    padding: 50px 0px;
  }
}

// Section Functioning + Cards
.functioning {
  min-width: 100%;
  background-color: #ffffff;

  &--title {
    padding-left: 5%;
  }
}

.functioningContainersCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-weight: 500;

  .functioning__cards {
    @include shadow(grey);
    position: relative;
    background-color: #fbf5f5;
    width: 90%;
    max-width: 390px;
    display: flex;
    padding: 10px 0 10px 30px;
    column-gap: 20px;
    border-radius: 20px;
    transition: all 0.5s;

    &--numbers {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) translateX(-50%);
      padding: 5px 10px;
      color: #ffffff;
      background-color: $primary-color;
      border-radius: 50%;
    }

    i {
      color: #dddddd;
      filter: contrast(10%);
      align-self: center;
      width: 20px;
    }

    &:hover {
      background-color: #ff79da36;
      cursor: pointer;
      i {
        filter: none;
        color: $primary-color;
      }
    }
  }
}

.functioning__cards:last-of-type {
  margin-bottom: 20px;
}

// Section Restaurants + Cards
.restaurants {
  min-width: 100%;

  &--title {
    padding-left: 5%;
  }
}
.restaurantsContainersCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 50px;
  row-gap: 20px;
}
.restaurantsContainersCards a {
  width: 90%;
  max-width: 500px;
  position: relative;
}
.restaurants__cards {
  @include shadow(grey);
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &--header {
    > img {
      width: 100%;
      max-height: 150px;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      object-position: center center;
    }
    > .news {
      background-color: $third-color;
      color: #3c5a52;
      font-weight: 600;
      text-align: center;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &--content p {
    margin-top: 0;
    font-weight: 200;
  }

  &--content h4 {
    margin-bottom: 0;
  }
}

// Heart
.favorite {
  position: relative;
  cursor: pointer;

  i.fa-solid {
    position: absolute;
    right: 0;
    top: 20px;
    opacity: 0;
    color: transparent;
    background: linear-gradient(180deg, $primary-color, $second-color);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.5s;
  }
  i.fa-regular {
    position: absolute;
    right: 0;
    top: 20px;
  }
}
.favorite:hover {
  i.fa-solid {
    opacity: 100;
  }
  i.fa-regular {
    opacity: 0;
  }
}

// IMG Heading all pages
.heading--img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 200px;
}

// MENU CONTAINER + CARDS all pages
.menu {
  min-width: 100%;
  background-color: #fbf5f5;
  border-top-left-radius: 50px;
  border-top-right-radius: 30px;
  transform: translateY(-50px);

  &__heading {
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-between;
  }
}

.menu__containerCards {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 20px;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 8%;
    padding-bottom: 10px;
    position: relative;

    &::after {
      content: "";
      width: 40px;
      height: 4px;
      background-color: #99e2d0;
      position: absolute;
      left: 8%;
      bottom: 0;
    }
  }
}
.menu__cards {
  @include shadow(grey);
  background-color: #ffffff;
  width: 85%;
  max-width: 390px;
  align-self: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;

  &--content {
    flex-basis: 80%;
    margin: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h4,
    p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--price {
    margin: 5%;
    align-self: end;
  }
  &--check {
    margin-right: -30%;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: $third-color;
    border-radius: 0 20px 20px 0;
  }

  &:hover {
    .menu__cards--check {
      margin-right: 0;
    }
  }
}
