@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}
